<DModal
  class="update-pages-remote"
  @title={{i18n "admin.landing_pages.remote.title"}}
  @closeModal={{@closeModal}}
>
  <:body>
    <div class="url">
      <div class="label">{{i18n "admin.landing_pages.remote.url"}}</div>
      <Input
        @value={{this.buffered.url}}
        placeholder={{this.urlPlaceholder}}
        {{on "input" this.remoteChanged}}
      />
    </div>

    <div class="branch">
      <div class="label">{{i18n "admin.customize.theme.remote_branch"}}</div>
      <Input
        @value={{this.buffered.branch}}
        placeholder="main"
        {{on "input" this.remoteChanged}}
      />
    </div>

    <div class="check-private">
      <label>
        <Input
          @type="checkbox"
          @checked={{this.buffered.private}}
          {{on "change" this.privateWasChecked}}
        />
        {{i18n "admin.landing_pages.remote.private"}}
      </label>
    </div>

    {{#if this.showPublicKey}}
      <div class="public-key">
        <div class="label">{{i18n "admin.customize.theme.public_key"}}</div>
        <Textarea readonly={{true}} @value={{this.buffered.public_key}} />
      </div>
    {{/if}}
  </:body>

  <:footer>
    <DButton
      @action={{this.update}}
      @disabled={{this.updateDisabled}}
      class="btn btn-primary"
      @label="admin.landing_pages.remote.update"
    />

    <DButton
      @action={{this.reset}}
      @disabled={{this.resetDisabled}}
      class="btn btn-danger"
      @label="admin.landing_pages.remote.reset"
    />

    <DButton
      @action={{this.test}}
      @disabled={{this.testDisabled}}
      class="btn btn-test"
      @label="admin.landing_pages.remote.test"
    />

    {{#if this.loading}}
      {{loading-spinner size="small"}}
    {{else}}
      {{#if this.testIcon}}
        {{d-icon this.testIcon (hash class=this.tested)}}
      {{/if}}
    {{/if}}

    <DModalCancel @close={{@closeModal}} />
  </:footer>
</DModal>
